body {
    font-family: "Irish Grover", system-ui;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url('imagenes/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px);
}

header {
    background-color: rgba(51, 51, 51, 0.9);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 70px;
    border-radius: 20%;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#platos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.9);
    padding: 10px;
    border-radius: 8px;
}

.menu-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 8px;
}

.item-info {
    flex: 1;
}

.item-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.item-info p {
    margin: 5px 0;
}

.price {
    font-weight: bold;
}

footer {
    background-color: rgba(51, 51, 51, 0.712);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
